* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
}
.main-content-wrapper {
  flex: 1;
  display: flex;
}
.main-content {
  flex: 1;
  height: 100%;
  padding: 20px 20px 100px 50px;
  background-color: $color-secondary;
}
