.faq-editor {
  .content {
    margin-bottom: 16px;
  
    .textarea {
      margin: 0;
    }
  
    .del {
      @include pos($top: -16px, $right: -16px);
      @include size(32px);
      border: 5px solid $color-white;
      transform: scale(0);
      transition: transform 200ms;
    }
  
    &:hover .del,
    & .textarea:focus + .del {
      transform: scale(1);
    }
  }
  .editable {
    display: inline-block;
    width: 100%;
    white-space: pre-wrap;

    &:focus-visible {
      outline-width: 3px;
    }
  }
  
  .more {
    margin: 0 auto;
  }
}



