.btn {
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}
.btn-secondary {
  background-color: $color-secondary;
  color: $color-black;
}
.btn.btn-border {
  border: 3px solid $color-black;
}

.btn-center {
  margin: auto;
}