.form {
  display: flex;
  flex-direction: column;

  input,
  textarea,
  .input,
  .textarea {
    padding: 6px 10px;
    line-height: 2rem;
    font-size: 1rem;
    width: 100%
  }

  textarea,
  .textarea {
    white-space: pre-wrap;
  }

  .form-input {
    margin-bottom: 16px;

    label {
      font-weight: bold;
      color: $color-black;
      margin-left: 8px;
    }

    input,
    textarea,
    .input,
    .textarea {
      margin-top: 4px;
    }
  }
}