.modal {
  z-index: 999;
  @include pos(0, 0, 0, 0);
  @include flex(center, center);
  background-color: rgba($color-black, 0.5)
}

.modal-content {
  background-color: $color-white;
  width: 500px;
  padding: 30px 50px;
  border-radius: 20px;
}
.modal-content .modal-small {
  width: 300px;
}
.modal-content .modal-big {
  width: 700px;
}