.navbar {
  display: flex;
  list-style-type: none;

  a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    color: $color-white;

    &.active {
      color: $color-black;
    }

    &::after {
      @include pos($bottom: 0, $left: 10%);
      content: '';
      display: block;
      width: 80%;
      height: 3px;
      transform: scale(0);
      background-color: $color-primary;
      transition: transform 300ms ease-in-out;
    }

    &:hover::after,
    &.active::after {
      transform: scale(1);
    }
  }
}