.table {
}
.table-header {
    border-top: 3px solid $color-black;
    border-bottom: 3px solid $color-black;
}
.table-body > .table-row {
    position: relative;
    border-bottom: 1px solid $color-black;
}
.table-body > div:last-of-type {
    border-bottom: 3px solid $color-black;
}
.table-row > div {
    padding: 12px 16px;
    border-left: 3px solid $color-black;
}
.table-row > div:last-of-type {
    border-right: 3px solid $color-black;
}
.table-body .table-row:hover,
.table-body .table-row.selected {
    background-color: rgba(0,0,0,0.1)
}