
/* Padding */
.p-8 {
  padding: 8px;
}
.pl-8 {
  padding-left: 8px;
}
.pr-8 {
  padding-right: 8px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.p-16 {
  padding: 16px;
}

/* Margin */
.m-8 {
  margin: 8px;
}
.ml-8 {
  margin-left: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-32 {
  margin-top: 32px;
}
.ml-16 {
  margin-left: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-32 {
  margin-bottom: 32px;
}
/* Size */
.h-100 {
  height: 100%;
}
.size-32 {
  width: 32px;
  height: 32px;
}